<nav>
    <ul>
        <li>
            <a href="/" class='<%= pageUrl === "/" ? "active" : ""  %>'>Home</a>
        </li>
        <li>
            <a href="/user" class='<%= pageUrl === "/user" ? "active" : ""  %>'>User</a>
        </li>
    </ul>
</nav>