<%- include('components/head.ejs') %>
<body>
    <%- include('components/navBar.ejs') %>
    <div>Welcome to Home Page</div>
    <br>
    <form action="/" method="post">
        <label for="username">name</label>
        <input type="text" name="username" id="username">
        <button type="submit">submit</button>
    </form>
</body>
</html>