<%- include('components/head.ejs') %>

<body>
    <%- include('components/navBar.ejs') %>
    <div class="user-list">
        <% if (userList.length > 0) { %>

            <ul>
               <li>user list</li>
               <% userList.forEach(element => { %>
                   <li><%= element %> </li>
                  <% }) %>
            </ul>
       
           <% } else { %>
             <h3>nothing to show</h3>
            <% } %>
    </div>
</body>
</html>

